* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Philosopher", ;
    font-style: normal;
}

html,
body {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.loading-bar {
    position: relative;
    width: 110px;
    height: 110px;
    background: transparent;
    border: px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 111px;
    font-family: sans-serif;
    font-size: 15px;
    color: #008139;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #008139;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-bar:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 5px solid #008139;
    border-right: 5px solid #008139;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}


.container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}

header {
    background-image: url(./horse-photos/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 948px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.header-a {
    font-weight: 400;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid transparent;
    padding: 1rem;
    transition: 450ms ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-a:hover {
    border-bottom-color: #008139;
}

.phone-number-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.number-a {
    font-weight: 700;
    font-size: 1.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 0.1rem solid transparent;
    transition: 450ms ease;
}

.number-a:hover {
    border-bottom-color: #008139;
}

.hours {
    font-size: 1.3rem;
    color: #7D808A;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    position: relative;
}

.chayki {
    position: absolute;
    top: 0;
    right: 0;
}

.chayki-res {
    display: none;
}

.header-horse {
    position: relative;
    top: 10rem;
    left: 3rem;
}

.header-left-card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 4rem;
}

.bulut {
    position: absolute;
    right: 0rem;
    top: 60.8rem;
}

h1 {
    font-size: 5.7rem;
    width: 61.3rem;
    font-family: "Philosopher", ;
    font-weight: 700;
    font-style: normal;
}

.svg-p {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.svg {
    margin-top: 1.5rem;
}

.header-sec-item {
    font-size: 2rem;
    color: #646464;
    width: 47.7rem;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    span {
        font-family: "Alegreya Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #646464;
    }
}

.yozilish-btn {
    width: 27rem;
    padding: 2.1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 450ms ease;
    color: #6A5300;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 150ms ease;
    cursor: pointer;
    box-shadow: 0px 4px 0px 0px #C89C00;
    position: relative;
    z-index: 99;
}

.yozilish-btn:hover {
    background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
    box-shadow: 0px 4px 0px 0px #C89C00;
}

.yozilish-btn-header {
    width: 27rem;
    padding: 2.1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 450ms ease;
    color: #6A5300;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 150ms ease;
    cursor: pointer;
    box-shadow: 0px 4px 0px 0px #C89C00;
}

.yozilish-btn-header:hover {
    background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
    box-shadow: 0px 4px 0px 0px #C89C00;
}

.club-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
    margin-top: 10rem;
}

.club-text {
    font-size: 4rem;
    color: #363434;
    font-weight: 400;
    text-align: center;
}

.club-info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.club-info-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
}

.club-information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.5rem;
}

.info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.club-number {
    font-size: 4.2rem;
    color: #008139;
    font-weight: 700;
}

.club-item {
    color: #0B0B0B;
    font-weight: 500;
    font-size: 1.7rem;
    width: 25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.club-info-item {
    font-size: 1.5rem;
    color: #7E7E7E;
    width: 57rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.block-section {
    margin-top: 18.5rem;
}

.block-sec-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.block-text {
    color: #363434;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.block-sec-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.9rem;
    margin-top: 7.6rem;
}

.block-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
}

.card-name {
    color: #0B0B0B;
    font-size: 1.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.card-text {
    font-size: 1.5rem;
    color: #7E7E7E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 27.1rem;
    text-align: center;
    font-weight: 400;
}

.car {
    height: 11.4rem;
}

.bg-section {
    background-image: url(./horse-photos/Mask\ Group.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 158.7rem;
}

.yonalish-section {
    margin-top: 10rem;
}

.all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 7.5rem;
}

.cards-div-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.card-kalta {
    width: 37rem;
    height: 40rem;
    border-radius: 0.5rem;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 14px 30px 0px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    background: #FFFFFF;
}

.card-uzun {
    width: 37rem;
    height: 47.4rem;
    border-radius: 0.5rem;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 14px 30px 0px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    background: #FFFFFF;

}

.horse-card-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.horse-card-name {
    font-size: 2.3rem;
    color: #363434;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 24rem;
    text-align: center;
}

.horse-card-text {
    font-size: 1.6rem;
    color: #7E7E7E;
    width: 28rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.card-img-horse {
    position: relative;
    bottom: 3rem;
}

.horses {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.yozilish-btn-horse {
    width: 27rem;
    padding: 2.1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 450ms ease;
    color: #6A5300;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 150ms ease;
    cursor: pointer;
    box-shadow: 0px 4px 0px 0px #C89C00;
    margin-left: 62rem;
    margin-top: 15rem;
}

.yozilish-btn-horse:hover {
    background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
    box-shadow: 0px 4px 0px 0px #C89C00;
}

.women-horse {
    position: absolute;
    bottom: 2rem;
    left: 4rem;
}

.baby-horse {
    position: relative;
    bottom: 2rem;
    right: 1rem;
}

.baby-horse-res {
    display: none;
}

.bulut-horses {
    position: absolute;
    right: 0.2px;
    top: 34.7rem;
}

.swiper {
    margin-top: 7rem;
}

.swiper-section {
    margin-top: 15rem;
}

.swiper-slide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.swiper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 13rem;
}

.swiper-button-next-my {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-button-next-my:active {
    background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
    box-shadow: 0px 1px 0px 0px #C89C00;
}

.swiper-button-prev-my {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-button-prev-my:active {
    background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
    box-shadow: 0px 1px 0px 0px #C89C00;
}

.cursor {
    cursor: pointer;
}

.horses-section {
    margin-top: 15rem;
}

.horses-card-father {
    margin-top: 7rem;
}

.horse-card {
    width: 37rem;
    height: 58rem;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 14px 30px 0px #00000012;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-winter {
    background-image: url(./horse-photos/winter-bg.jpg);
    background-repeat: no-repeat;
    height: 80rem;
    position: relative;
    margin-top: 4rem;
}

.bulut-top {
    position: absolute;
    top: 0;
    right: 0;
}

.bulut-top {
    position: absolute;
    top: 0;
    right: 0;
}

.bulut-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.horse-girl {
    position: absolute;
    bottom: 0;
    width: 150rem;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-info {
    width: 47rem;
    padding: 10rem;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px 0px #0000001C;
    border-radius: 0.5rem;
    background-color: white;
    position: relative;
    left: 40rem;
    top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.form-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.form-name {
    font-size: 3.5rem;
    color: #363434;
    font-weight: 400;
}

.form-text {
    width: 37rem;
    font-size: 1.5rem;
    color: #7E7E7E;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

    span {
        font-weight: 700;
        color: #7E7E7E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.form-input {
    width: 30.3rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #8F8F8F;
    font-size: 1.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #636363;
    outline: none;
}

.form-input::placeholder {
    font-size: 1.8rem;
    color: #A5A5A5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#errorNumber {
    opacity: 0;
    font-size: 18px;
}

.checbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-label {
    color: #8A8A8A;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    a {
        text-decoration: underline;
        color: #8A8A8A;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
    }
}

.checkbox-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 3;
}


.checkbox-input {
    width: 2rem;
    height: 2rem;
}

.comentary-section {
    margin-top: 14rem;
}

.comentary {
    width: 57rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px 0px #0000001C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.5rem;
    margin-top: 7rem;
}

.text-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.comentariya {
    color: #363434;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 48rem;
    font-weight: 400;
}

.all-btn {
    width: 15rem;
    padding: 0.7rem 4.1rem;
    color: #008139;
    box-shadow: 0px 5px 15px 0px #0000000F;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}

.left-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21.9rem;
}

.profile-information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.profile-items {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.user-name {
    color: #101820;
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.bg-location {
    background-image: url(./horse-photos/bg.jpg);
    background-repeat: no-repeat;
    height: 65rem;
    margin-top: 15rem;
    position: relative;
}

.daraxt-right {
    position: absolute;
    left: 0;
    top: 35rem;
}

.daraxt-left {
    position: absolute;
    right: 0;
    bottom: 0;
}

.pin {
    position: relative;
    left: 119rem;
    top: 28rem;
}

.contacts {
    width: 52.1rem;
    padding: 5rem 7rem;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px 0px #0000001C;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
    margin-left: 26rem;
}

.contact-text {
    color: #000000;
    font-size: 4rem;
    font-weight: 400;
}

.icon-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.2rem;
}

.info-item {
    color: #363434;
    font-size: 1.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 26.1rem;
    border-bottom: 0.1rem solid transparent;
    transition: 450ms ease;
    padding: 0.5rem;
    cursor: pointer;
}

.info-item:hover {
    border-bottom-color: #363434;
}

.icons-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-left: 22rem;
    margin-top: 3rem;
}

footer {
    background-color: #0B0B0B;
    position: relative;
    z-index: 99;
}

.horses-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.3rem;
    padding: 2.4rem;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2.6rem;
}

.maxfiylik-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.footer-maxfiylik-text {
    color: #7D808A;
    font-size: 1.3rem;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.footer-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.footer-a {
    color: #EAEAEA;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border-bottom: 0.1rem solid transparent;
    padding: 1rem;
    transition: 450ms ease;
}

.footer-a:hover {
    border-bottom-color: #008139;
}

.zakaz-btn {
    width: 20rem;
    padding: 1.4rem;
    border: 1px solid #FDE724;
    border-radius: 0.5rem;
    color: white;
    background: none;
    transition: 450ms ease;
    cursor: pointer;
}

.zakaz-btn:hover {
    background-color: #FDE724;
    color: rgb(30, 30, 30);
}

.zakaz-btn-res {
    display: none;
}

.club-info-item-res {
    display: none;
}

.horse-girl-res {
    display: none;
}

.mySwiper4 {
    display: none;
}

.burger-div {
    display: none;
}

.burger {
    display: none;
}

.ombor {
    display: none;
}

.buta {
    display: none;
}

.mySwiper-two {
    display: none;
}

.mySwiper-one {
    display: none;
}

.mySwiper5 {
    display: none;
}

.swiper-btn {
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        width: 95%;
        margin: 0 auto;
    }

    header {
        background-image: url(./horse-photos/background.jpg);
        background-repeat: no-repeat;
        height: 53.9rem;
    }

    .logo {
        width: 12rem;
        height: 3.9rem;
    }

    .header-ul {
        gap: 1rem;
    }

    .header-a {
        font-size: 1.1rem;
    }

    .number-a {
        font-size: 1.4rem;
    }

    .hours {
        font-size: 1.1rem;
    }

    .header-section {
        gap: 5rem;
    }

    .header-horse {
        width: 25rem;
        height: 32rem;
        top: 10rem;
    }

    .header-left-card {
        width: 38rem;
    }

    h1 {
        font-size: 3.8rem;
        width: 40rem;
    }

    .header-sec-item {
        font-size: 1.6rem;
        width: 39.7rem;
    }

    .yozilish-btn {
        width: 18rem;
        padding: 1.2rem 5rem;
    }

    .bulut {
        position: absolute;
        right: 0rem;
        top: 36rem;
    }

    .club-text {
        font-size: 2.7rem;
    }

    .sakrayotgan-ot {
        width: 451px;
        height: 273px;
    }

    .club-information {
        gap: 8px;
    }

    .club-number {
        font-size: 3.2rem;
    }

    .club-item {
        font-size: 1.2rem;
        width: 126px;
    }

    .club-info-item {
        display: none;
    }

    .mySwiper-one {
        display: none;
    }

    .club-info-item-res {
        display: block;
        font-size: 1.3rem;
        width: 728px;
        color: #7E7E7E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .block-text {
        font-size: 1.3rem;
    }

    .block-sec-img {
        width: 70px;
        height: 70px;
    }

    .card-name {
        font-size: 1.5rem;
        width: 100px;
        text-align: center;
    }

    .card-text {
        font-size: 1.3rem;
        width: 180px;
    }

    .block-sec-cards {
        gap: 1.2rem;
    }

    .all-cards {
        flex-wrap: wrap;
    }

    .horse-card-items {
        gap: 1.1rem;
    }

    .cards-div-one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: unset;
        gap: 20px;
    }

    .card-kalta {
        width: 344px;
        height: 300px;
        gap: 11px;
        padding: 22px;
    }

    .card-uzun {
        width: 344px;
        height: 300px;
        gap: 11px;
        padding: 22px;
    }

    .card-img-horse {
        width: 304px;
        height: 181px;
    }

    .horse-card-name {
        font-size: 1.5rem;
    }

    .horses {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .women-horse {
        width: 157px;
        height: 272px;
        position: absolute;
        left: 0;
        top: 0.3rem;
    }

    .baby-horse {
        width: 189px;
        height: 270px;
        position: absolute;
        right: 0;
        top: 0.3rem;
    }

    .yozilish-btn-horse {
        width: 18rem;
        padding: 1rem 5rem;
        border: none;
        border-radius: 0.5rem;
        transition: 450ms ease;
        color: #6A5300;
        background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
        font-size: 1.5rem;
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: 150ms ease;
        cursor: pointer;
        box-shadow: 0px 4px 0px 0px #C89C00;
        margin-left: 0;
    }

    .bg-section {
        height: 1425px;
    }

    .yozilish-btn-horse:hover {
        background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
        box-shadow: 0px 4px 0px 0px #C89C00;
    }

    .bulut-horses {
        position: absolute;
        top: 150px;
    }

    .mySwiper1 {
        width: 768px;
    }

    .photo-album {
        width: 223px;
        height: 155px;
    }

    .mySwiper2 {
        width: 100%;
    }

    .horse-card {
        width: 25rem;
        height: 36rem;
        gap: 1.5rem;
    }

    .horse-img {
        width: 210px;
        height: 252px;
    }

    .horse-card-text {
        font-size: 1.2rem;
        width: 250px;
        text-align: center;
    }

    .bg-winter {
        background-image: url(./horse-photos/bg-img-res.png);
        height: 1107px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .form-info {
        width: 450px;
        height: 450px;
        position: relative;
        left: 0;
        top: 15rem;
    }

    .form-name {
        font-size: 3.2rem;
    }

    .form-text {
        font-size: 1.3rem;
        width: 370px;
        text-align: center;
    }

    .form-input {
        width: 300px;
    }

    .yozilish-btn {
        width: 293px;
    }

    .horse-girl {
        display: none;
    }

    .horse-girl-res {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    .bulut-bottom {
        position: absolute;
        top: 930px;
        z-index: 99;
    }

    .mySwiper3 {
        display: none;
    }

    .mySwiper4 {
        display: block;
    }

    .comentary {
        width: 354px;
        height: 260px;
    }

    .comentariya {
        font-size: 1.3rem;
        width: 314px;
    }

    .all-btn {
        width: 130px;
        padding: 0.9rem 2.1rem;
        font-size: 1.3rem;
    }

    .left-profile {
        gap: 9.7rem;
    }

    .user-name {
        font-size: 1.4rem;
        width: 132px;
    }

    .daraxt-right {
        display: none;
    }

    .daraxt-left {
        display: none;
    }

    .contacts {
        width: 354px;
        padding: 4rem;
        margin-left: 2rem;
    }

    .contact-text {
        font-size: 2.7rem;
    }

    .info-item {
        font-size: 1.6rem;
    }

    .icons-contact {
        margin-left: 10rem;
    }

    .pin {
        position: relative;
        left: 53.4rem;
    }

    footer {
        height: 135px;
    }

    .footer-logo {
        width: 100px;
        height: 30px;
    }

    .footer-ul {
        gap: 1rem;
    }

    .footer-a {
        font-size: 1.3rem;
    }

    .footer-maxfiylik-text {
        font-size: 0.9rem;
        position: absolute;
        bottom: 3.3rem;
        left: 2rem;
    }

    .footer-maxfiylik-text-res {
        font-size: 0.9rem;
        position: absolute;
        bottom: 3.3rem;
        left: 24.4rem;
        color: #7D808A;
        text-decoration: underline;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    }

    .zakaz-btn {
        width: 167px;
        padding: 1.6rem 3.2rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
        width: 98%;
        margin: 0 auto;
    }

    .logo {
        width: 89px;
        height: 29px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
    }

    .header-ul {
        display: none;
    }

    header {
        background-image: url(./horse-photos/responsive-bg.svg);
        background-repeat: no-repeat;
        height: 764px;
    }

    .burger {
        display: block;
    }

    .burger-div {
        display: block;
        position: fixed;
        max-width: 100%;
        width: 230px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: #0D0D0D;
        opacity: 0.9;
        border-right: 5px solid #008139;
        top: 0;
        left: -450px;
        z-index: 2;
        transition: 450ms ease;
    }

    .active {
        left: 0;
    }

    .close {
        position: relative;
        left: 135px;
        top: 16px;
    }

    .burger-ul {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 1.5rem;
        opacity: 1;
        margin-top: 50px;
    }

    .header-res-a {
        color: white;
        font-size: 1.5rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    }

    .logo-burger {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .phone-number-div {
        display: none;
    }

    .header-horse {
        width: 189px;
        left: 75px;
        top: 0;
    }

    .header-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 106px;
    }

    .header-left-card {
        align-items: center;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .svg {
        display: none;
    }

    .images {
        position: relative;
    }

    .header-sec-item {
        text-align: center;
        font-size: 1.6rem;
    }

    .yozilish-btn-header {
        width: 180px;
        padding: 1.5rem 5rem;
    }

    .bulut {
        position: absolute;
        top: 520px;
        height: 51px;
    }

    .ombor {
        display: block;
        position: absolute;
        top: 153px;
        right: 100px;
    }

    .buta {
        display: block;
        position: absolute;
        left: 0;
        bottom: 40px;
    }

    .chayki {
        display: none;
    }

    .chayki-res {
        display: block;
        position: relative;
        width: 101px;
        height: 32px;
        top: 10px;
        left: 18px;
    }

    .sakrayotgan-ot {
        display: none;
    }

    .info {
        align-items: center;
    }

    .club-text {
        font-size: 2.7rem;
    }

    .club-number {
        font-size: 2.7rem;
    }

    .club-item {
        font-size: 1rem;
        text-align: center;
        width: 180px;
    }

    .club-info-item-res {
        width: 385px;
        text-align: center;
        font-size: 1.3rem;
    }

    .block-sec-cards {
        flex-wrap: wrap;
        gap: 24px;
    }

    .all-cards {
        flex-wrap: wrap;
        gap: 30px;
    }

    .cards-div-one {
        gap: 1rem;
    }

    .card-uzun {
        width: 190px;
        height: 220px;
        gap: 0rem;
        padding: 1rem;
    }

    .card-kalta {
        width: 190px;
        height: 220px;
        gap: 0rem;
        padding: 1rem;
    }

    .card-img-horse {
        width: 160px;
        height: 110px;
        position: relative;
        bottom: 3rem;
    }

    .horse-card-items {
        gap: 1rem;
    }

    .horse-card-text {
        color: black;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4;
        width: 190px;
        font-size: 1rem;
    }

    .horse-card-name {
        font-size: 1.2rem;
    }

    .bg-section {
        height: 1075px;
    }

    .horses {
        height: 20px;
    }

    .bulut-horses {
        width: 400px;
        top: 170px;
    }

    .women-horse {
        width: 113px;
        height: 196px;
        left: -15px;
    }

    #errorNumber {
        font-size: 12px;
    }

    .baby-horse {
        display: block;
        position: absolute;
        right: -50px;
        width: 139px;
        height: 199px;
    }

    .baby-horse-res {
        position: absolute;
        right: 0px;
    }

    .mySwiper1 {
        display: none;
    }

    .mySwiper-one {
        width: 100%;
    }

    .mySwiper2 {
        display: none;
    }

    .mySwiper-two {
        display: block;
        width: 100%;
    }

    .photo-album {
        width: 190px;
        height: 120px;
    }

    .horse-card {
        width: 180px;
        height: 310px;
        gap: 1rem;
    }

    .mySwiper-one {
        display: block;
    }

    .horse-img {
        width: 169px;
        height: 205px;
        position: relative;
    }

    .form-info {
        width: 320px;
        height: 420px;
    }

    .form-name {
        font-size: 2.7rem;
    }

    .form-text {
        font-size: 1.1rem;
        width: 280px;
    }

    .form-input {
        width: 220px;
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .form-input::placeholder {
        font-size: 1.5rem;
    }

    .yozilish-btn {
        width: 220px;
        padding: rem 7rem;
    }

    .form-label {
        font-size: 1.1rem;

        a {
            font-size: 1.1rem;
        }
    }

    .checkbox-input {
        width: 15px;
        height: 15px;
    }

    .horse-girl-res {
        width: 500px;
        height: 350px;
        position: absolute;
        top: 550px;
    }

    .bg-winter {
        height: 900px;
    }

    .bulut-bottom {
        top: 730px;
    }

    .mySwiper3 {
        display: none;
    }

    .mySwiper4 {
        display: none;
    }

    .mySwiper5 {
        display: block;
    }

    .left-profile {
        gap: 3rem;
    }

    .comentary {
        width: 300px;
        height: 263px;
        margin-top: 0;
    }

    .comentariya {
        font-size: 1.3rem;
        width: 280px;
    }

    .all-btn {
        width: 130px;
        padding: 0.9rem 2.1rem;
        font-size: 1.3rem;
    }

    .user-name {
        font-size: 1.4rem;
        width: 132px;
    }

    .bg-location {
        background-image: url(./horse-photos/bg.svg);
    }

    .location-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .contacts {
        margin: 319px auto;
    }

    .pin {
        top: 116px;
        left: 202px;
    }

    .horses-footer {
        margin-top: 300px;
        flex-direction: column-reverse;
        padding: 30px 0px 100px 0px;
    }

    .zakaz-btn {
        display: none;
    }

    .zakaz-btn-res {
        display: block;
        width: 16.7rem;
        padding: 1.4rem;
        border: 1px solid #FDE724;
        border-radius: 0.5rem;
        color: white;
        background: none;
        transition: 450ms ease;
        cursor: pointer;
    }

    .zakaz-btn-res:hover {
        background-color: #FDE724;
        color: rgb(30, 30, 30);
    }

    .horses-footer {
        background-color: #0B0B0B;
        width: 100%;
        padding: 4rem 0rem;
    }

    .footer-left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .maxfiylik-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-maxfiylik-text {
        position: relative;
        top: 0;
        left: 0;
    }
}